<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" name="errorFile" fileName="${var:baseDir}\logs\errors.${shortdate}.log" layout="${longdate} ${logger} ${message}${newline}${exception:format=tostring}" 
            maxArchiveFiles="4" archiveAboveSize="5000000" />

    <target xsi:type="File" name="infoFile" fileName="${var:baseDir}\logs\info.${shortdate}.log" layout="${longdate} ${logger} ${message}"
            maxArchiveFiles="4" archiveAboveSize="5000000" />

    <target xsi:type="ColoredConsole" name="console" layout="${shortdate} ${level} ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="errorFile, console" />

    <logger name="*" minlevel="Info" writeTo="console" />

    <logger name="*" minlevel="Info" writeTo="infoFile">
      <filters>
        <when condition="equals('${var:infoEnabled}', 'True')" action="Log" />
      </filters>
    </logger>
  </rules>
</nlog>